@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.788);
  }
*{
    margin: 0;
    padding: 0;
}
.intro{
    line-height: 25pt;
}
.buttonpage{
    font-family: "Azeret Mono", monospace;
    background-color: green;
    font-size: 80px;
    padding: 300px 0;
    text-align: center;
    color: white;
}

.div-1{
    width:60%;
    max-width: 1920;
    min-width: 350px;
    margin: 50px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-1{
    padding: 15px 25px;
    border: solid 2px #0d1321c4;
    background-color: white;
    color: #0d1321c4;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    border-radius: 8px;
}

.section-2{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div-2{
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.head-main{
    font-size: 48px;
    color: #0D1321;
    font-weight: 800;
}
.btn-2{
    padding: 20px 30px;
    border: none;
    background-color: #0D1321;
    color: white;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    border-radius: 8px;
}


/* Why Web Development?? starts */
.head-sec{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}
.wwd_section{
    padding: 75px 0;
}
.wwd_div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    max-width: 1920;
    min-width: 320px;
    margin: 0 auto;
    background-color: #FAFAFB;
    padding: 95px 80px;
    text-align: center;
}
.wwd_card{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 0, 0, 0) );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.card-wwd-2{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 0, 0, 0) );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.text-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    padding: 20px;
    gap: 25px;
}
.img-div{
    width: 35%;
    padding: 20px;
    max-width: 100%;
    height: auto;
}
.btn-3{
    padding: 8px 20px;
    border: solid 2px #0d1321c4;
    background-color: white;
    color: #0d1321c4;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
}
/* Why Web Development finishes */
